body{
    background-color: cadetblue;
    font-size: 22px;
    font-style: oblique;
    color: chocolate ;
}
.ciencias{
    background-color: crimson;
    color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}